.button {
    -fx-background-color: white; /* Set the background color */
    -fx-text-fill: black; /* Set the text color */
    -fx-font-size: 24px; /* Set the font size */
    -fx-font-weight: bold;
    -fx-padding: 10px 20px; /* Set the padding */
    -fx-background-radius: 30 30 30 30;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #96EFFF; /* Change the background color on hover */
}

.button:pressed {
    -fx-background-color: white; /* Change the background color when pressed */


}
