 

.round-button {
   // -fx-background-color: linear-gradient(to right, #252B48, #FFF6DC);
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-padding: 8px;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 100%;
   // -fx-shape: "M 25,0 A 25,25 0 1 1 0,25 L 0,0 Z";
}

.round-button:hover {
    -fx-cursor: hand;
    -fx-background-color:  #029AE5;
}

