.linear-button {
    -fx-background-color: linear-gradient(to right, #FF6C22, #FF6C22);
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-padding: 8px;
   // -fx-border-color: #1640D6;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.linear-button:hover {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to right, #45CFDD,  #029AE5);
}
